.App .Container {
  background-image: linear-gradient(120deg, #fdfbfb 20%, #ebedee 50%);
  max-width: 900px;
  max-height: 700px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #7e6da8;
  margin: 0 auto;
}
.App footer {
  max-width: 900px;
  display: block;
  margin: 0 auto;
}
