#current-temp-value {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  text-align: right;
  padding: 10px 0;
}
#unit {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  padding: 10px 0;
}
@media (max-width: 576px) {
  #current-temp-value,
  #unit {
    font-size: 20px;
  }
}
